* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 30px;
    background-color: rgb(10, 10, 85);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   line-height: 2.0;
   text-decoration: none;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    height: auto;
    
}
