* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 51,153);
    margin: 30px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.0;
    text-decoration: none;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 300px;
    position: relative; 
}

.logo img {
    width: 200px;
    height: auto;
}

/* Tablet */
@media (max-width: 1024px) {
    .logo img {
        width: 160px;
    }
    h1 {
        font-size: 22px;
    }
}

/*Celular*/
@media (max-width:600px) {
    .logo img {
        width: 120px;
    }
    h1 {
        font-size: 18px;
    }
    body {
        padding: 10px;
    }
}

